export(clean_github)
export(combine_from_csv)
export(commits_per_week)
export(doget)
export(get_all_commit_data)
export(get_commit_data)
export(get_gerrit_data)
export(get_next_rel)
export(get_repo_data)
export(merge_datasets)
export(over_time)
export(parse_commits)
export(parse_gerrit_data)
export(project_heatmap)
export(projects)
export(repo_language)
export(repo_name)
export(repolist)
export(write_out)
import(RCurl)
import(dplyr)
import(ggplot2)
import(jsonlite)
import(lubridate)
import(scales)
import(stringr)
