export(author_contributions)
export(clone_repos)
export(combine_from_csv)
export(commits_per_week)
export(doget)
export(extract_git_log)
export(get_all_commit_data)
export(get_commit_data_from_api)
export(get_commit_data_from_local)
export(get_gerrit_data)
export(get_next_rel)
export(get_repo_data)
export(merge_datasets)
export(parse_changes)
export(parse_commits_api)
export(parse_gerrit_data)
export(project_heatmap)
export(projects_over_time)
export(remove_repos)
export(repo_language)
export(repo_name)
export(repolist)
export(write_out)
import(RCurl)
import(dplyr)
import(ggplot2)
import(jsonlite)
import(lubridate)
import(scales)
import(stringr)
